---
layout: default
---

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>{{ site.title }}</h1>
        <p class="lead">
          {{ site.description }}
        </p>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="text-info">Something great is going on here. Stay around!</p>
      </div>
    </div>
  </div>
</section>